body {
    margin: 0;
    padding: 0;
    font-family: quicksand, roboto, sans-serif;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-family: quicksand, roboto, sans-serif;
    font-size: 32px;
    gap: 16px;
    background-color: #85DCB0;
    margin: 0px;
    padding: 6px 16px;
}

.icon {
    height: 56px;
    width: 56px;
}

.extra {
    margin-left: auto;
    text-decoration: underline;
    color: #ffffff;
    font-size: 16px;
}

.github {
    text-decoration: underline;
    color: #ffffff;
    font-size: 16px;
    margin-right: 16px;
}

.amman {
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #e27d60;
    
}

.hero-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-right: -100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px double white;
    padding: 32px;
    background-color: #85DCB070;
}

.qoute {
    font-size: 32px;
    color: #ffffff;
    font-style: italic;
}

.laith {
    align-self: flex-end;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.recipe-section {
    display: flex;
    flex-direction: column;
    background-color: #e27d60;
    margin: 0;
    padding-bottom: 64px;
}

.title {
    display: flex;
    font-size: 32px;
    text-align: center;
    margin: 64px;
    color: white;
    font-weight: bold;
}

.title:before, .title:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  .title:before {
    margin-right: 10px
  }
  .title:after {
    margin-left: 10px
  }

.recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.dish {
    width: 320px;
    height: 320px;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.dish {
    border: 4px solid #41b3a3
}

.recipes a {
    text-decoration: underline;
    color: white;
    font-size: 20px;
    font-weight: bold;
}