body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-family: quicksand, roboto, sans-serif;
    font-size: 32px;
    gap: 16px;
    background-color: #85DCB0;
    margin: 0px;
    padding: 6px 16px;
}

.icon {
    height: 56px;
    width: 56px;
}

.extra {
    margin-left: auto;
    margin-right: 16px;
    text-decoration: underline;
    color: #ffffff;
    font-size: 16px;
}

.github {
    text-decoration: underline;
    color: #ffffff;
    font-size: 16px;
}
